# -------------------------
# Python cache / env
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# -------------------------
# Output files (generated)
# -------------------------
outputs/
*.json

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

!data/body_profile.json
!data/style_profile.json
